
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/C8C45F3B-day-01-basics/1/s/chunks.json
.Rproj.user/shared/notebooks/C8C45F3B-day-01-basics/1/F8F62242ED629F8D/chunks.json
.Rproj.user/shared/notebooks/6A83B7B3-reprex/1/s/chunks.json
.Rproj.user/F8F62242/sources/s-ED629F8D/lock_file
.Rproj.user/F8F62242/sources/s-ED629F8D/FD2DBD20-contents
.Rproj.user/F8F62242/sources/s-ED629F8D/DEC928D3-contents
.Rproj.user/F8F62242/sources/s-ED629F8D/754677C7-contents
.Rproj.user/F8F62242/sources/s-ED629F8D/4D04712B-contents
.Rproj.user/F8F62242/sources/s-ED629F8D/4D04712B
.Rproj.user/F8F62242/sources/s-ED629F8D/4777EC6C-contents
.Rproj.user/F8F62242/sources/prop/INDEX
.Rproj.user/F8F62242/sources/prop/FE78005A
.Rproj.user/F8F62242/sources/prop/C9F4B64F
.Rproj.user/F8F62242/sources/prop/AD069030
.Rproj.user/F8F62242/sources/prop/6BE4C510
.Rproj.user/F8F62242/sources/prop/453984E0
.Rproj.user/F8F62242/sources/prop/3A7276C3
.Rproj.user/F8F62242/sources/prop/341D2898
.Rproj.user/F8F62242/sources/prop/23E33B86
.Rproj.user/F8F62242/saved_source_markers
.Rproj.user/F8F62242/rmd-outputs
.Rproj.user/F8F62242/persistent-state
.Rproj.user/F8F62242/pcs/workbench-pane.pper
.Rproj.user/F8F62242/pcs/windowlayoutstate.pper
.Rproj.user/F8F62242/pcs/source-pane.pper
.Rproj.user/F8F62242/pcs/files-pane.pper
.Rproj.user/F8F62242/pcs/debug-breakpoints.pper
